<div>
  <div class="flex justify-between p-10 w-full">
    <div class="ml-12">
      <h1 id="greeting" class="text-3xl font-semibold"></h1>
      <p id="date" class="mt-2 text-gray-700"></p>
    </div>
    
    <div class="flex space-x-4 items-center gap-4 mr-16 ">
      <select
       class="block w-[120px] bg-white border border-gray-400 px-4 py-2 rounded focus:outline-none focus:shadow-outline"
    id="filterSelect">
        <option>Today</option>
        <option>Tomorrow</option>
        <option>Yesterday</option>
      </select>
      <div class="relative inline-block group mt-6">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-14 h-6 cursor-pointer ml-2 text-gray-600 group-hover:text-gray-800">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        
        <span class="bottom-full mb-2 left-1/2 transform -translate-x-1/2 text-sm text-gray-700 bg-white shadow-lg p-2 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          Sign out
        </span>
      </div>
    </div>
  </div>

  <div>
    <button id="openPopup" type="button"
      class="w-64 ml-20 flex items-center justify-center gap-2.5 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
        class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
      Create New Task
    </button>
  </div>

  <div id="popupModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="">
      <button id="closePopup" class="absolute top-2 right-2 text-gray-600 hover:text-gray-900">✖</button>
      <div id="popupContent">Loading...</div>
    </div>
  </div>

  <div class="w-5/6 ml-20 mt-10 p-6 bg-white rounded shadow">
    <h1 class="text-2xl font-bold mb-4 text-center">Task Details</h1>
    <table id="tableData" class="min-w-full border-collapse border border-gray-300 text-center"></table>
  </div>

</div>
<script>

  let selectedTaskId = '';
  const API_URLS = "http://127.0.0.1:8000"

  function updateGreeting() {
      const greetingElement = document.getElementById("greeting")
      const now = new Date()
      const hours = now.getHours()
      let greetingText = "Good Morning"

      if (hours >= 12 && hours < 16) {
          greetingText = "Good Afternoon";
      } else if (hours >= 16 || hours < 5) {
          greetingText = "Good Evening";
      }

      greetingElement.innerHTML = `Hi, ${greetingText} Avinash <span class="mr-2">👋</span>`
  }

  document.addEventListener("DOMContentLoaded", updateGreeting)

  const dateElement = document.getElementById("date")
  const today = new Date()

  const options = { weekday: "short", day: "numeric", month: "short", year: "numeric" }
  const formattedDate = today.toLocaleDateString("en-GB", options)
  dateElement.textContent = `Today, ${formattedDate}`



//   Eventlistener for open popup

  document.addEventListener("DOMContentLoaded", () => {
      const openPopup = document.getElementById("openPopup")
      const popupModal = document.getElementById("popupModal")
      const popupContent = document.getElementById("popupContent")
      const closePopup = document.getElementById("closePopup")
      
      openPopup.addEventListener("click", () => {
          fetch("/popup")
              .then(response => response.text())
              .then(async (data) => {
                  popupContent.innerHTML = data;
                  const today = new Date().toISOString().split('T')[0]
                  const date = document.getElementById("datee").value=today
                  const now = new Date();
                  const hours = now.getHours().toString().padStart(2, '0')
                  const minutes = now.getMinutes().toString().padStart(2, '0')
                  const currentTime = `${hours}:${minutes}`
                  const category = document.getElementById('category')
                  document.getElementById("start_time").value = currentTime
                  await fetchCategories()
                  popupModal.classList.remove("hidden")
                 
              })
              .catch(error => console.error("Error loading popup:", error))
      });

      closePopup.addEventListener("click", () => {
          popupModal.classList.add("hidden")
      })

      popupModal.addEventListener("click", (event) => {
          if (event.target === popupModal) {
              popupModal.classList.add("hidden")
          }
      })
  })

// API integration for post and put call based on selectedtaskid

async function submitData() {
    const startTime = document.getElementById("start_time").value
    const endTime = document.getElementById("end_time").value
    const category = document.getElementById("category").value
    const taskName = document.getElementById("task_name").value
    const date = document.getElementById('datee').value
    if (!date || !startTime || !endTime || !category || !taskName) {
        alert("Please fill out all fields.")
        return
    }

    const payload = {
        date: new Date(date).toISOString(),
        start_time: startTime,
        end_time: endTime,
        category: category,
        task_name: taskName
    }

    try {
        let response;
        if (!selectedTaskId) {
            response = await fetch(`${API_URLS}/create-document/categories`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(payload)
            });
        } else {
            response = await fetch(`${API_URLS}/update-document/categories/${selectedTaskId}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(payload)
            });
        }

        const data = await response.json()
        if (response.ok) {
            alert(selectedTaskId ? "Task Updated Successfully!" : "Task Created Successfully!")
            resetData()
            selectedTaskId = ''
            document.getElementById('task-title').textContent = "Create a New Task";
            popupModal.classList.add("hidden")
            fetchTasks()
        } else {
            alert("Error: " + data.detail)
        }
    } catch (error) {
        console.error("Error:", error)
        alert("Failed to create/update task.")
    }
}


// code for reset button

  function resetData() {
      document.getElementById("datee").value = ""
      document.getElementById("start_time").value = ""
      document.getElementById("end_time").value = ""
      document.getElementById("category").value = ""
      document.getElementById("task_name").value = ""
  }

// code for get call (API integration) and display in table

  async function fetchTasks() {
      try {
          let response = await fetch(`${API_URLS}/categories/`)
          let data = await response.json()
          console.log(data)
          populateTable(data.data)
      } catch (error) {
          console.error("Error fetching data:", error)
      }
  }

  function populateTable(data) {
      let table = document.getElementById("tableData")
      table.innerHTML = `
          <thead>
              <tr class="bg-gray-200">
                  <th class="px-4 py-2">S.No</th>
                  <th class="px-4 py-2">Date</th>
                  <th class="px-4 py-2">Start Time</th>
                  <th class="px-4 py-2">End Time</th>
                  <th class="px-4 py-2">Category</th>
                  <th class="px-4 py-2">Task Name</th>
                  <th></th>
              </tr>
          </thead>
          <tbody class="bg-white">
              ${data.map((task, index) => `
                  <tr id="row-${task._id}" class="border-b">
                      <td class="px-4 py-2">${index + 1}</td>
                     <td class="px-4 py-2">${task.date.split('T')[0]}</td>
                      <td class="px-4 py-2">${task.start_time}</td>
                      <td class="px-4 py-2">${task.end_time}</td>
                      <td class="px-4 py-2">${task.category}</td>
                      <td class="px-4 py-2">${task.task_name}</td>
                      <td class="px-4 py-2">
                          <button class="bg-blue-500 text-white px-3 py-1 rounded-md hover:bg-blue-600" onclick="openUpdatePopup('${task._id}')">Update</button>
                          <button class="bg-red-500 text-white px-3 py-1 rounded-md hover:bg-red-600 ml-2" onclick="deleteTask('${task._id}')">Delete</button>
                      </td>
                  </tr>
              `).join('')}
          </tbody>
      `;
  }

  document.addEventListener("DOMContentLoaded", function () {
      fetchTasks();
  })

  //   code for deleting the task from table(Delete API Integration)

  async function deleteTask(taskId) {
      try {
          let response = await fetch(`${API_URLS}/delete-document/categories/${taskId}`, {
              method: "DELETE",
          });

          if (response.ok) {
              let row = document.getElementById(`row-${taskId}`)
              if (row) {
                  row.remove()
              }
          } else {
              console.error(`Failed to delete task ${taskId}:`, await response.text())
          }
      } catch (error) {
          console.error("Error deleting task:", error)
      }
  }

  function openUpdatePopup(taskId) {
      fetch("/popup")
          .then(response => response.text())
          .then(data => {
              document.getElementById("popupContent").innerHTML = data
              fetch(`${API_URLS}/categories/${taskId}`)
                  .then(response => response.json())
                  .then(task => {
                      selectedTaskId = task.data._id
                      document.getElementById('task-title').textContent = "Update Task";
                      document.getElementById("record_id").value = taskId
                      document.getElementById("datee").value = task.data.date ? task.data.date.split('T')[0] : ""
                      document.getElementById("start_time").value = task.data.start_time || ""
                      document.getElementById("end_time").value = task.data.end_time || ""
                      document.getElementById("category").value = task.data.category||""
                      document.getElementById("task_name").value = task.data.task_name || ""
                    fetchCategories()
                  })
                  .catch(error => console.error("Error loading task data:", error))

              document.getElementById("popupModal").classList.remove("hidden")
          })
          .catch(error => console.error("Error loading popup:", error))
  }
  
  document.getElementById("closePopup").addEventListener("click", () => {
      document.getElementById("popupModal").classList.add("hidden")
  })


//   code for selecting options using API
function fetchCategories() {
    fetch(`${API_URL}/tasks/`)
        .then(response => response.json())
        .then(data => {
            const categorySelect = document.getElementById('category') 
            categorySelect.innerHTML = ''

            data.data.forEach(task => {
                if (task.name) { 
                    const option = document.createElement('option')
                    option.value = task.name
                    option.textContent = task.name
                    categorySelect.appendChild(option)
                }
            });
        })
        .catch(error => {
            console.error('Error fetching categories:', error)
        })
}
</script>
</body>
</html>