<div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <h2 class="text-xl font-bold text-center mb-4" id="task-title">Create New Task</h2>

    <input type="text" id="record_id" value="0" />
    <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Select Date</label>
        <input type="date" id="datee"
            class="mt-1 w-full p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500">
    </div>

    <div class="grid grid-cols-2 gap-4 mb-4">
        <div>
            <label class="block text-sm font-medium text-gray-700">Start Time</label>
            <input type="time" id="start_time"
                class="mt-1 w-full p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500">
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700">End Time</label>
            <input type="time" id="end_time"
                class="mt-1 w-full p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500">
        </div>
    </div>

    <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Category</label>
        <select id="category" class="mt-1 w-full p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500">
            <option value="Diet">Diet</option>
            <option value="Work">Work</option>
            <option value="Personal">Personal</option>
            <option value="Completed">Completed</option>
            <option value="List of Books">List of Books</option>
            <option value="Road Trip List">Road Trip List</option>
        </select>
    </div>

    <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Task Name</label>
        <input type="text" id="task_name" placeholder="Enter task name"
            class="mt-1 w-full p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500">
    </div>

    <div class="flex justify-between">
        <button class="w-32 bg-gray-400 text-white py-2 rounded-lg hover:bg-gray-500" onclick="resetData()"> Reset</button>
        <button class="w-32 bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700" onclick="submitData()">Submit</button>
    </div>
</div>