<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-white-600">
    <div class="w-11/12 mb-6 h-auto mt-14 mx-auto bg-black border-10 border-black rounded-xl shadow-lg overflow-hidden p-6">
        <div class="flex flex-row gap-10">

            <div class="flex-1">
                <img src="/static/images/image2.jpg"
                    class="w-full h-auto rounded-md">
            </div>


            <div class="flex-1 flex flex-col text-white items-center p-8">
                <h1 class="text-6xl mb-6">Create an Account</h1>
                <p class="mb-8 mx-6">Already have an account? <a href="/login"
                        class="text-blue-400 hover:underline">Login</a></p>


                <form class="w-90 mt-8">
                    <div class="flex flex-row gap-4 mb-8">
                        <input type="text" id="firstName" placeholder="First Name"
                            class="w-1/2 h-12 p-2 border border-gray-300 rounded-md bg-transparent text-white">
                        <input type="text" id="lastName" placeholder="Last Name"
                            class="w-1/2 h-12 p-2 border border-gray-300 rounded-md bg-transparent text-white">
                    </div>
                    <input type="email" id="email" placeholder="Email"
                        class="w-full h-12 p-2 border border-gray-300 rounded-md bg-transparent text-white mb-8">
                    <input type="password" id="password" placeholder="Password"
                        class="w-full h-12 p-2 border border-gray-300 rounded-md bg-transparent text-white mb-4">

                    <div class="flex items-center space-x-2 mb-8">
                        <input type="checkbox" id="terms" class="text-white">
                        <label for="terms" class="text-sm">I agree to the <a href="#"
                                class="text-blue-400 hover:underline">Terms & Conditions</a></label>
                    </div>

                    <input type="button" value="Create Account" id="registerBtn"
                        class="w-full bg-blue-600 hover:bg-blue-700 text-white p-3 rounded-md cursor-pointer">
                </form>

                <p class="text-sm mt-8">------------------or register with ------------------</p>
                <div class="flex gap-x-14 mt-8">
                    <button
                        class="w-48 bg-black text-white p-2 rounded-md border-2 border-white flex items-center space-x-6 justify-center">
                        <i class="fab fa-google"></i>
                        <span>Google</span>
                    </button>


                    <button
                        class="w-48 bg-black text-white p-2 rounded-md border-2 border-white flex items-center justify-center space-x-6">
                        <i class="fab fa-apple"></i>
                        <span>Apple</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("registerBtn").addEventListener("click", async () => {
            const firstName = document.getElementById("firstName").value
            const lastName = document.getElementById("lastName").value
            const email = document.getElementById("email").value
            const password = document.getElementById("password").value
            const termsAccepted = document.getElementById("terms").checked

            if (!firstName || !lastName || !email || !password) {
                alert("Please fill in all fields.")
                return
            }

            if (!termsAccepted) {
                alert("Please accept the terms and conditions.")
                return
            }

            const payload = {
                first_name: firstName,
                last_name: lastName,
                email: email,
                password: password
            }

            try {
                const response = await fetch("http://127.0.0.1:8000/create-document/users", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(payload)
                })

                const result = await response.json()
                if (response.ok) {
                    alert("Registration successful!")
                    window.location.href = "/login"
                } else {
                    alert("Error: " + result.detail)
                }
            }
            catch (error) {
                console.error("Error:", error)
                alert("Something went wrong. Please try again!")
            }
        })
    </script>
</body>

</html>